@font-face { 
    font-family: Trajan; 
    src: url("fonts/Trajan Pro Regular.ttf"); 
} 

@font-face { 
    font-family: Digital; 
    src: url("fonts/Digital.ttf"); 
} 

* {
    font-family: Trajan;
    text-align: center;
}

html, body {
    height: 100%;
    overflow: hidden;
}

main {
    display: flex;
    height: 100%;
    flex-flow: column;
    align-items: stretch;
}

.heading {
    font-size: 70px;
}

#container-time {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: auto;
    width: 70%;
    height: 18%; 

    background-color: rgb(36, 0, 0);
    border: 7px solid black;
    border-radius: 2%;
}

#time {
    padding-right: 30px;

    font-family: Digital;
    font-size: 80px;
    text-shadow: 0 0 2px #ff3d3d, 0 0 2px #ff3d3d, 0 0 2px #ff3d3d, 0 0 2px #ff3d3d;

    color: red;
}

.container-answer {
    margin: auto;
}

#answer {
    margin: auto;

    font-weight: bold;
    font-size: 200px;
    animation: shake 0.3s;

    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-5deg); }
    20% { transform: translate(-3px, 0px) rotate(3deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(3deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(6px, 1px) rotate(-3deg); }
    80% { transform: translate(-1px, -1px) rotate(2deg); }
    90% { transform: translate(1px, 2px) rotate(5deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#img1 {
    display: none;
    height: 250px;
    width: 250px;
    margin: auto;
}

#img2 {
    display: none;
    height: 240px;
    width: 320px;
    margin: auto;
}

#mute-button {
    position: fixed;
    top: 5px;
    left: 5px;
    
    width: 100px;
    height: 100px;

    opacity: 20%;
}

#red-button {
    position: fixed;
    top: 5px;
    right: 10px;
    
    width: 100px;
    height: 100px;
}

#video {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;    
}

.container-time-travel {
    position: fixed;
    top: 5px;
    right: 8px;
    height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}
